:root {
    --primary-color: #2f303a;
    --secondary-color: #f5f4fa;
    --accent-color: #E5E5E5;
    --common-white: #FFFFFF;
    --main-font: 'Roboto', sans-serif;
    --title-size: 44px;
    --text-size: 14px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: var(--text-size);
        font-family: var(--main-font);
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-white-color);
  }
    
    .header {
        width: 1600px;
        margin: 0 auto;
        padding: 16px 55px 45px;
        background-color: var(--common-white);
        display: flex;
        align-items: center;             
        }
      
       
    .navigation-link {
        font-family: var(--main-font);
        color: #212121;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0.02em;
        font-weight: 600;
        }
        .navigation-link:hover {
            color: #2196F3;
        }
        

    .list {
        list-style: none;
        margin-right: 215px;
        }
    .navigation-list {
        display: flex;
    }
    .navigation-item {
        margin-right: 50px;

    }
    .logo {
        margin-right: 93px;
        text-decoration: none;
        color: #212121;
        font-size: 26px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    
    .logo-dot {
        color: #2196F3;
        }
        .logo-dote {
        color: #FFFFFF;

        }
    .contacts {
        display: flex; 
        }
    .contacts-list {
        font-family: var(--main-font);
        margin-right: 50px;
    }
    .contacts-list:hover {
        color:#2196F3;
    }

    .email {
        color: #757575;
        text-decoration: none;
        letter-spacing: 0.02em;
        font-family: var(--main-font);
    }
    .tell {
       color: #757575;
       font-family: var(--main-font);
       text-decoration: none;
    }
    /*.busines {
        position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background-color: var(--primary-color);
    }*/
    .busines-title {
        font-family: var(--main-font)
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--common-white);
        margin-right: 30px;
        background-color: var(--primary-color);
    }
    /*width: 696px;
        height: 120px;*/

    /*.content {
     padding: 200px 452px 200px 452px;
    }*/
    .btn {
        font-family: var(--main-font)
        font-size: 16px;
        border: none;
        background-color: #2196f3;
        border-radius: 4px;
        font-style: normal;
        color: var(--common-white);
        font-weight: 700;
        letter-spacing: 0.06em;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 430px;}
        /*text-transform: uppercase;*/
    .busines-botton {
        margin-top: 30px;
        margin-left: 248px;
        margin-right: 248px;
        }
       
             
          
     .button-list {
        display: flex;
        }  
        
        .btn-portfolio {
          font-family: var(--main-font);
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.03em;
          font-style: normal;
          color: #212121;
          font-style: normal;
          font-weight: 500;
          background-color: #F5F4FA;
          border: none;
          padding: 6px 22px;
          border-radius: 4px;
         }
              
        .btn-portfolio:hover {
          background-color: #2196F3;
          color:#FFFFFF;
        }
        
     /*.studio {
      color: #2196F3;
     }*/

     /*.portfolio-name {
      color: #2196F3;
     }*/

     .email-second {
      color: #757575;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      font-family: var(--main-font);
     }
          
    .peculiarities-title {
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: var(--text-size);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #212121;
    }
    .peculiarities-text {
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 400;
      font-size: var(--text-size);
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: #757575;
    }
    .work-title {
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
    }
    .our-team {
      font-family: var(--main-font);
      font-style: normal;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
    }
    .team-name {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #212121;
    }
    /*  text-align: center;*/

    .team-item {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        
        letter-spacing: 0.03em;
        color: #757575;
        text-decoration: none;
    }
    /*text-align: center;*/
    /*.team-link {
        display: flex;
        }*/
       
        .footer {
            width: 1600px;
            margin: 0 auto;
            background-color: #2F303A;
            height: 252px;
            }
        .footer-bottom {
            margin-left: 215px;
            margin-top: 60px;
            margin-bottom: 60px;
            }

    .footer-adress {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: var(--text-size);
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
       }
      .footer-contact {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: var(--text-size);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
      }
      .footer-contact:hover {
        color: #2196F3;
      }
      .portfolio-title {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
      }
      .portfolio-link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
      }